.header-container{
    padding: 40px;
    background-color: #303842;
    color: white;
    text-shadow: 2px 2px #521414;
    .header{
        text-align: center;
        font-size: 30px;
        font-weight: 600;    
    }
}
.info-container{
    margin-top: 100px;
    margin-bottom: 100px;
    .quotes-container{
        padding-left: 100px;
        padding-right: 100px;
        .quotes{
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            font-style: italic;
            color: #888888;
        }
        .author{
            text-align: right;
            font-size: 15px;
            color: #888888;
        }
    }
    .about-us-container{
        margin-top: 80px;
        .info{
            font-size: 15px;
            font-weight: 500;
        }
    }
    .scroll-container{
        margin-top: 50px;
        margin-bottom: 50px;
        .info{
            text-align: center;
            font-size: 22px;
            font-weight: 600;  
        }
        .line{
            width: 280px;
            border-top: 2px #3394d2 solid;
        }
    }
}

.content-container{
    .timestamp-container{
        text-align: center;
        background-color: #303842;
        padding-bottom: 80px;
        padding-top: 80px;
        color: white;
        .header{
            font-size: 17px;
        }
    }
    .count-container{
        background-color: #e0e0e0;
        padding: 1px;
        .top{
            width: inherit;
            text-align: center;
            font-size: 20px;
            font-weight: 600; 
            margin-top: 100px;
            .line{
                width: 180px;
                border-top: 2px #3394d2 solid;
            }
        }
        .row{
            margin-bottom: 80px;
            margin-top: 80px;
            margin-left: 0px;
            margin-right: 0px;
            .col{
                text-align: center;
                .header{
                    font-size: 25px;
                }
                .value{
                    font-size: 40px;
                    font-weight: 600;  
                }
            }
        }
    }
    .table-container{
        .header-block{                
            margin-top: 50px;
            margin-bottom: 50px;
            .header{
                text-align: center;
                font-size: 20px;
                font-weight: 600; 
            }
            .line{
                width: 220px;
                border-top: 2px #3394d2 solid;
            }
        }

    }
    .chart-container{
        .container{
            margin-top: 50px;
            margin-bottom: 50px;
            .header{
                text-align: center;
                font-size: 22px;
                font-weight: 600; 
                .line{
                    width: 400px;                    
                    border-top: 2px #3394d2 solid;
                }
            }
        }
    }
}
