<div class="container-fluid header-container">
    <div class="header">
        COVID-19 STATS - INDIA
    </div>
    
</div>
<div class="container info-container">
    <div class="quotes-container">
        <div class="quotes">
            "Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fear less."
        </div>
        <div class="author">
            - Marie Curie
        </div>
    </div>
    <div class="about-us-container">
        <div class="info">
            The purpose of this page is only to provide you with the statistical knowledge of the COVID-19 pandemic situation throughout the world. We do not wish to scare you or cause any harm. We are all in this together. Explore to learn more and keep updated on the international situation so we can fight this all together as a family.        
        </div>
    </div>
    <div class="scroll-container">
        <div class="info cursor" (click)="scroll('main')">
            Explore, To learn More.        
        </div>
        <hr class="line">
        <!-- <div class="line"></div> -->
    </div>

</div>
<!-- <app-world-chart [chartData]="worldChartData"></app-world-chart> -->
<div id="main" class="content-container">
    <div class="timestamp-container">
        <div class="header">
           Latest Updated on - {{countData?.lastUpdatedAtApify | date:"full"}}
        </div>
    </div>
    <div class="container-fluid count-container">
        <div class="top">
            Latest Count
            <hr class="line">
        </div>
        <div class="row">
            <div class="col">
                <div class="header">
                    Active Cases
                </div>
                <div class="value">
                    {{countData?.activeCasesNew}}
                </div>
            </div>
            <div class="col">
                <div class="header">
                    Recovered
                </div>
                <div class="value">
                    {{countData?.recoveredNew}}
                </div>
            </div>
            <div class="col">
                <div class="header">
                    Deaths
                </div>
                <div class="value">
                    {{countData?.deathsNew}}
                </div>
            </div>
        </div>
        <div class="top">
            Count Till Now
            <hr class="line">
        </div>
        <div class="row ">
            <div class="col">
                <div class="header">
                    All Cases
                </div>
                <div class="value">
                    {{countData?.activeCases}}
                </div>
            </div>
            <div class="col">
                <div class="header">
                    All Recovered
                </div>
                <div class="value">
                    {{countData?.recovered}}
                </div>
            </div>
            <div class="col">
                <div class="header">
                    All Deaths
                </div>
                <div class="value">
                    {{countData?.deaths}}
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid table-container">
        <div class="header-block">
            <div class="header">
                List cases per region.
            </div>
            <hr class="line">
        </div>
        <app-table [rowData]="regionData"></app-table>
    </div>
    <div class="container-fluid chart-container">
        <div class="container">
            <div class="header">
                Active cases across India from day 1.
                <hr class="line">
            </div>
            <app-active-chart [chartData3]="allCasesChartData"></app-active-chart>
        </div>
        <div class="container">
            <div class="header">
                Recovered cases across India from day 1.
                <hr class="line">
            </div>
            <app-recovered-chart [chartData1]="allCasesChartData"></app-recovered-chart>
        </div>
        <div class="container">
            <div class="header">
                Deseased cases across India from day 1.
                <hr class="line">
            </div>
            <app-chart [chartData]="allCasesChartData"></app-chart>
        </div>
    </div>
</div>

