/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}
html, body {
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
}
.col-1 {
    padding: 0px;
}
.col-2 {
    padding: 0px;
}
.col-3 {
    padding: 0px;
}
.col-4 {
    padding: 0px;
}
.col-5 {
    padding: 0px;
}
.col-6 {
    padding: 0px;
}
.col-7 {
    padding: 0px;
}
.col-8 {
    padding: 0px;
}
.col-9 {
    padding: 0px;
}
.col-10 {
    padding: 0px;
}
.col-11 {
    padding: 0px;
}
.col-12 {
    padding: 0px;
}
.row {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.container-fluid {
    padding: 0px;
}
.cursor{
    cursor: pointer;
}